<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>

</head>
<body>
    <div>
        <div class="container w-25">
            <div class="card border border-2 mx-auto" style="width: max-content;">
        
                <div id="busqueda" class="collapse show" style="width: max-content;">

                    <form th:action="@{/consultaCliente}" method="get" style="width: max-content;">
                        <br>
                        <h3>Consultar la informacion de un cliente</h3>
                        <label>Ingresa el id del cliente:</label>
                        <input type="number" class="form-control" id="idCliente" name="idCliente" required>

                        <label>Ingresa el id de la Oficina</label>
                        <input type="number" class="form-control" id="idOficina" name="idOficina">
                        <br>
                        <button type="submit" class="btn btn-secondary">Obtener Cuentas</button>
                    </form>

                </div>
            </div>
        </div>

        <table class="table table-hover table-bordered">

            <h1>Informacion del Cliente</h1>
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Tipo documento</th>
                    <th>Numero documento</th>  
                    <th>Tipo Persona</th>
                    <th>Email</th>
                    <th>Telefono</th>
                </tr>
            </thead>
            <th:block th:if="${clienteInfo != null}">
                <tr>
                    <td th:text="${clienteInfo.getNombre()}"></td>
                    <td th:text="${clienteInfo.getTipo_Doc()}"></td>
                    <td th:text="${clienteInfo.getNum_Doc()}"></td>
                    <td th:text="${clienteInfo.getTipo_Persona()}"></td>
                    <td th:text="${clienteInfo.getEmail()}"></td>
                    <td th:text="${clienteInfo.getTelefono()}"></td>
                </tr>
            </th:block>
        </table>



        <table class="table table-hover table-bordered">
            <h1>Lista de Cuentas</h1>
            <thead class="thead-dark">
                <tr>
                    <th>numero cuenta</th>
                    <th>tipo</th>
                    <th>estado</th>
                    <th>saldo</th>
                    <th>ultima transaccion</th>
                    <th>Id Cliente</th>
                    <th>id oficina</th>
                </tr>
            </thead>
            <th:block th:each = "cuenta:${cuentas}">
                <tr>
                    <td th:text="${cuenta.id}"></td>
                    <td th:text="${cuenta.tipo}"></td>
                    <td th:text="${cuenta.estado}"></td>
                    <td th:text="${cuenta.saldo}"></td>
                    <td th:text="${cuenta.ultima_transaccion}"></td>
                    <td th:text="${cuenta.getNum_doc_cliente().getNum_id()}"></td>
                    <td th:text="${cuenta.id_oficina.getId()}"></td>
                </tr>
            </th:block>
        </table>


        <table class="table table-hover table-bordered">
            <h1>Lista de Prestamos</h1>
            <thead class="thead-dark">
                <tr>
                    <th>Id Prestamo</th>
                    <th>Proposito</th>
                    <th>Estado</th>
                    <th>Monto</th>
                    <th>Tasa</th>
                    <th>Cuotas</th>
                    <th>Dia Pago</th>
                    <th>Valor cuota</th>
                </tr>
            </thead>
            <th:block th:each = "prestamo:${prestamos}">
                <tr>
                    <td th:text="${prestamo.id}"></td>
                    <td th:text="${prestamo.proposito}"></td>
                    <td th:text="${prestamo.estado}"></td>
                    <td th:text="${prestamo.monto}"></td>
                    <td th:text="${prestamo.tasa}"></td>
                    <td th:text="${prestamo.cuotas}"></td>
                    <td th:text="${prestamo.dia_pago}"></td>
                    <td th:text="${prestamo.valor_cuota}"></td>
                </tr>
            </th:block>
        </table>
        
        <a th:href="@{/}" class="btn btn-primary m-2" style="background-color: red;">Volver Atrás</a>
    </div>
</body>
</html>