<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>

</head>
<body>
    <div>
        <div class="container w-25">
            <div class="card border border-2 mx-auto">
                <h5 class="card-header" role="button" id="headingOne">
                    <a href="#" class="collapsed d-block" data-toggle="collapse" data-target="#busqueda">
                        Búsqueda avanzada
                    </a>
                </h5>
        
                <div id="busqueda" class="collapse show">
                    <form th:action="@{/cuentas/oficina}" method="get">
                        <label for="id_oficina">id_oficina</label>
                        <input type="text" class="form-control" id="id_oficina" name="id_oficina" required>
                        <label for="tipo">Filtrar por tipo:</label>
                        <select id="tipo" name="tipo">
                            <option value="">Todos</option>
                            <option value="ahorros">ahorros</option>
                            <option value="tipo2">Tipo 2</option>
                        </select>
                        <button type="submit" class="btn btn-secondary">Filtrar</button>
                    </form>

                    <form th:action="@{/cuentas/oficina}" method="get">
                        <label for="id_oficina">id_oficina</label>
                        <input type="text" class="form-control" id="id_oficina" name="id_oficina" required>
                        <label>Fitrar por rango saldos:</label>
                        <label for="saldo-minimo">Saldo minimo:</label>
                        <input type="text" class="form-control" id="saldo-minimo" name="min_saldo" required>
                        <label for="saldo-maximo">Saldo maximo:</label>
                        <input type="text" class="form-control" id="saldo-maximo" name="max_saldo" required>
                        <button type="submit" class="btn btn-secondary">Filtrar</button>
                    </form>

                    <form th:action="@{/cuentas/oficina}" method="get">
                        <label for="id_oficina">id_oficina</label>
                        <input type="text" class="form-control" id="id_oficina" name="id_oficina" required>
                        <label>Fitrar por fecha ultima transaccion:</label>
                        <label for="fecha-ultima-transaccion">Fecha:</label>
                        <input class="form-control" type="date" id="fecha-ultima-transaccion" name="ultima_transaccion" required>
                        <button type="submit" class="btn btn-secondary">Filtrar</button>
                    </form>
                </div>
            </div>
        </div>



        <h1>Lista de Cuentas</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>numero cuenta</th>
                    <th>tipo</th>
                    <th>estado</th>
                    <th>saldo</th>
                    <th>ultima transaccion</th>
                    <th>numero documento cliente</th>
                    <th>id oficina</th>
                    <th>acciones</th>
                </tr>
            </thead>
            <th:block th:each = "cuenta:${cuentas}">
                <tr>
                    <td th:text="${cuenta.id}"></td>
                    <td th:text="${cuenta.tipo}"></td>
                    <td th:text="${cuenta.estado}"></td>
                    <td th:text="${cuenta.saldo}"></td>
                    <td th:text="${cuenta.ultima_transaccion}"></td>
                    <td th:text="${cuenta.getNum_doc_cliente().getNum_id()}"></td>
                    <td th:text="${cuenta.id_oficina.getId()}"></td>
                    <td>
                        <form action="#" th:action="@{/cuentas/cambiar-estado/save}" method="post">
                            <input type="hidden" name="cuentaID" th:value="${cuenta.id}">
                            <input type="hidden" name="nuevoEstado" value="cerrada">
                            <button type="submit" class="btn btn-primary">Cerrar cuenta</button>
                        </form>

                        <form action="#" th:action="@{/cuentas/cambiar-estado/save}" method="post">
                            <input type="hidden" name="nuevoEstado" value="desactivada">
                            <button type="submit" class="btn btn-primary">Desactivar cuenta</button>
                        </form>
                    </td>
                </tr>
            </th:block>
        </table>
        <div>
            <a th:href="@{/cuentas/oficina/new}" class="btn btn-primary">Crear cuenta</a>
        </div>
    </div>
</body>
</html>